<template>
  <v-card>
    <v-card-title>{{
      title
    }}</v-card-title>

    <v-card-text>
      <div v-html="msg"></div>
    </v-card-text>

    <v-divider></v-divider>

    <v-card-actions>
      <v-spacer></v-spacer>
      <v-btn
        color="primary"
        text
        v-on:click="localIsOpen = false"
      >
        cancel
      </v-btn>
    </v-card-actions>
  </v-card>
</template>

<script>
export default {
  props: {
    isOpen: {
      Type: Boolean,
      default: false,
    },
    title: {
      Type: String,
      default: null,
    },
    msg: {
      Type: String,
      default: null,
    },
  },
  computed: {
    localIsOpen: {
      get() {
        return this.isOpen;
      },
      set(val) {
        console.log('child', val);
        this.$emit(
          'local-is-open',
          val
        );
      },
    },
  },
};
</script>
