<template>
  <v-row
    justify="center"
    align-content="center"
    style="height: 500px"
  >
    <v-col align="center">
      <h2>投稿する</h2>
      <!-- <v-card>
        <v-card-text> -->
      <label for="name">
        ニックネーム：</label
      >
      <input
        id="name"
        type="text"
        v-model="name"
      />
      <label for="comment">
        コメント：</label
      >
      <textarea
        id="comment"
        for="comment"
        v-model="comment"
      >
            コメント：</textarea
      >
      <br /><br />
      <button
        v-on:click="createComment()"
      >
        コメントをサーバーに送る
      </button>
      <!-- </v-card-text>
      </v-card> -->
      <br /><br />
      <h2>掲示板</h2>
      <div
        v-for="post in posts"
        v-bind:key="post.name"
      >
        <div>
          名前：{{
            post.fields.name.stringValue
          }}
        </div>
        <div>
          コメント：
          {{
            post.fields.comment
              .stringValue
          }}
        </div>
      </div>
    </v-col>
  </v-row>
</template>

<script>
import axios from 'axios';

export default {
  data() {
    return {
      name: '',
      comment: '',
      posts: [],
    };
  },
  created() {
    axios
      .get('/comments')
      .then((res) => {
        this.posts = res.data.documents;
        console.log(res);
      });
  },
  methods: {
    createComment() {
      axios
        .post('/comments', {
          fields: {
            name: {
              stringValue: this.name,
            },
            comment: {
              stringValue: this.comment,
            },
          },
        })
        .then((res) => {
          console.log(res);
        })
        .catch((err) => {
          console.log(err);
        });
      this.name = '';
      this.comment = '';
    },
  },
};
</script>
