<template>
  <div>
    <v-col align="center" class="pb-10">
      <h1>History</h1>
      <h4>
        これまでの経歴を時系列でまとめました。
      </h4>
      <h4>
        ※各製品は守秘義務の観点により掲載はしておりません。
        何卒ご容赦頂けますと幸いです。
      </h4>
    </v-col>

    <v-row>
      <v-col>
        <v-timeline
          :dense="
            $vuetify.breakpoint
              .smAndDown
          "
        >
          <v-timeline-item
            v-for="item in reverseItems"
            v-bind:key="item.id"
            color="brown lighten-3"
            fill-dot
            small
            :right="
              $vuetify.breakpoint
                .smAndDown
            "
          >
            <template v-slot:icon />
            <span
              slot="opposite"
              v-if="
                $vuetify.breakpoint
                  .mdAndUp
              "
            >
              {{ item.year }}
            </span>
            <span
              slot="default"
              v-if="
                $vuetify.breakpoint
                  .smAndDown
              "
            >
              {{ item.year }}
            </span>
            <v-card class="elevation-2">
              <v-card-title>{{
                item.title
              }}</v-card-title>
              <v-card-text>
                <span
                  v-html="item.message"
                ></span>
                <v-row class="pt-6">
                  <v-col
                    class="pt-0"
                    cols="12"
                    v-for="value in item.skill"
                    v-bind:key="
                      value.item
                    "
                  >
                    <v-tooltip bottom>
                      <template
                        v-slot:activator="{
                          on,
                          attrs,
                        }"
                      >
                        <v-chip
                          v-bind:color="
                            value.color
                          "
                          v-bind="attrs"
                          v-on="on"
                          label
                          text-color="white"
                        >
                          <v-icon left>
                            mdi-label
                          </v-icon>
                          <span
                            class="over-text"
                          >
                            {{
                              value.item
                            }}
                          </span>
                        </v-chip>
                      </template>
                      <span>
                        {{ value.item }}
                      </span>
                    </v-tooltip>
                  </v-col>
                </v-row>
              </v-card-text>
            </v-card>
          </v-timeline-item>
        </v-timeline>
      </v-col>
    </v-row>
  </div>
</template>

<script>
export default {
  data: () => ({
    historyItems: [
      {
        id: 2,
        year: '専門学校時代',
        title:
          '国家試験の勉強とプログラムに励んだ専門学校時代',
        message:
          '学生時代は主にJava・Pythonを使用した開発を経験していました。<br/>授業を通して個人開発とチーム開発をともに経験し、チーム開発の授業が強く印象に残っています。コードの可読性や仕様決めなどチームで話しあって一つの作品を作ることの大変さと楽しさを学びました。<br/>他にも、国家試験の勉強を通し、ITシステム全体への理解を深めました。国家試験の勉強ではアセンブラ言語の選択を強制され、奮闘したのが良い思い出です。',
        color: 'deep-purple lighten-3',
        skill: [
          {
            item: '担当領域（下流）：バックエンド製造',
            color: 'teal lighten-2',
          },
          {
            item: '使用技術：Java / Python / OracleDBなど',
            color: 'pink lighten-3',
          },
        ],
      },
      {
        id: 3,
        year: '1社目 2021年6月〜2022年2月',
        title:
          '新製品の立ち上げと既存製品の運用・保守',
        message:
          ' 学生時代にデータベースが好きでデータベースに関わる自社製品を開発していたことから、1社目の会社へ就職を決めました。<br/>事業調査として、社内では触られていない製品に加え、日本自体でも知られていない製品を調査することとなり、先頭で調査を進め、社内にプレゼンする役目を担い、上司からプレゼン資料の正確さ、相手に伝えるわかりやすさ、製品調査の素晴らしさを誉めていただき、製品を開発することに繋がりとても嬉しかったです。',
        color: 'deep-purple lighten-3',
        skill: [
          {
            item: '担当領域（上流）：企画 / 用件定義 / 画面設計',
            color: 'teal lighten-2',
          },

          {
            item: '担当領域（下流）：運用・保守',
            color: 'teal lighten-2',
          },
          {
            item: '使用技術：AWS / OracleDB / MySQLなど',
            color: 'pink lighten-3',
          },
        ],
      },
      {
        id: 4,
        year: '1社目 2022年3月〜2023年2月',
        title:
          'DB移行を促進するソフトウェア開発',
        message:
          'ユーザービリティに焦点を当て、ユーザーがマニュアルを読まなくても製品をスムーズに操作できることを目指し、現行の課題をリーダーと共有し、共同でユーザーフレンドリーなリソースを提供できるよう努力しました。<br />また、製品を深く理解することで、ユーザービィリティをより考えられると感じ、製品理解にも積極的に取り組み、社内向け・インターンで製品ハンズオンを経験することができました。',
        color: 'deep-purple lighten-3',
        skill: [
          {
            item: '担当領域（下流）：フロントエンド製造 / テスト',
            color: 'teal lighten-2',
          },
          {
            item: '使用技術：Vue.js / JavaScript / Dockerなど',
            color: 'pink lighten-3',
          },
          {
            item: 'その他：社内向け・インターン向けハンズオン',
            color:
              'deep-purple lighten-2',
          },
        ],
      },
      {
        id: 5,
        year: '2社目 2023年3月〜2023年7月',
        title:
          'ファンクラブ管理サービス開発',
        message: `受託開発として初めて担当したプロジェクトだったため、今まで以上に責任感を持ち業務に取り組み、常に先の工程を考慮して質問や確認を怠らず、成果物の品質を向上させる努力を行いました。この姿勢により、お客様から再度の協力依頼を受けることができました。
`,
        color: 'deep-purple lighten-3',
        skill: [
          {
            item: '担当領域（上流）：詳細設計 ',
            color: 'teal lighten-2',
          },
          {
            item: '担当領域（下流）：フロントエンド製造',
            color: 'teal lighten-2',
          },
        ],
      },
      {
        id: 6,
        year: '2社目 2023年8月〜現在',
        title:
          'メタバース制作ソフトウェアのWebページ作成',
        message: `PMOとして各チームの課題解決に気を配り、プロジェクト進行の円滑さを意識しました。<br/>作業が滞る場合には、リーダー業務を一部引き受けたり、タスクの軽減やリカバリ案の提案など、メンバーの負担を軽減するため・プロジェクト推進のために働きかけました。<br/>
        また教育にも焦点を置き、各メンバーの特徴を分析し、アクションプランを調整しながら良いパフォーマンスを続けてもらえるようサポートしました。`,
        color: 'deep-purple lighten-3',
        skill: [
          {
            item: '担当領域：PMO ',
            color: 'teal lighten-2',
          },
          {
            item: 'マネジメント内容：スケジュール管理 / タスク管理 / 1on1の実施など',
            color:
              'deep-purple lighten-2',
          },
        ],
      },
    ],
  }),
  computed: {
    reverseItems() {
      return this.historyItems
        .slice()
        .reverse();
    },
  },
};
</script>
