<template>
  <v-row
    justify="center"
    align-content="center"
    style="height: 500px"
  >
    <v-col align="center">
      <h1>Akari Kimura's Potofolio</h1>
      <v-card>
        <v-card-text>
          ようこそいらっしゃいませ。<br />きむらあかりのポートフォリオサイトです。
          どうぞごゆっくりとご覧ください。
        </v-card-text>
      </v-card>
    </v-col>
  </v-row>
</template>

<style></style>
