<template>
  <v-toolbar>
    <v-toolbar-title>
      Akari Kimura's
      Potofolio</v-toolbar-title
    >

    <v-spacer></v-spacer>

    <v-toolbar-items>
      <v-btn
        v-on:click="toHome"
        color="white"
      >
        <span>Home</span>
        <v-icon>mdi-home</v-icon>
      </v-btn>

      <v-btn
        v-on:click="toPlofile"
        color="white"
      >
        <span>Profile</span>
        <v-icon>mdi-heart</v-icon>
      </v-btn>

      <v-btn
        v-on:click="toHistory"
        color="white"
      >
        <span>History</span>
        <v-icon>mdi-history</v-icon>
      </v-btn>

      <v-btn
        v-on:click="toSkills"
        color="white"
      >
        <span>Skills</span>
        <v-icon
          >mdi-book-open-blank-variant</v-icon
        >
      </v-btn>
    </v-toolbar-items>
  </v-toolbar>
</template>

<script>
export default {
  methods: {
    toHome() {
      this.$router.push('/', () => {});
    },
    toPlofile() {
      this.$router.push(
        '/profile',
        () => {}
      );
    },
    toHistory() {
      this.$router.push(
        '/history',
        () => {}
      );
    },
    toSkills() {
      this.$router.push(
        '/skills',
        () => {}
      );
    },
  },
};
</script>
