<template>
  <div>
    <v-col align="center" class="pb-10">
      <h1>Profile</h1>
      <h4>
        プロフィールをご紹介します。
      </h4>
    </v-col>

    <v-row class="mb-6">
      <v-col cols="6">
        <ProfileCard
          v-bind:title="mySelfTitle"
          v-bind:content="mySelfContent"
        />
      </v-col>

      <v-col cols="6">
        <ProfileCard
          v-bind:title="licenceTitle"
          v-bind:content="
            licenceContent
          "
        />
      </v-col>
    </v-row>

    <v-row class="mb-6">
      <v-col cols="6">
        <ProfileCard
          v-bind:title="studyTitle"
          v-bind:content="studyContent"
        />
      </v-col>
      <v-col cols="6">
        <ProfileCard
          v-bind:title="otherTitle"
          v-bind:content="otherContent"
        />
      </v-col>
    </v-row>

    <v-row class="mb-6">
      <v-col cols="12">
        <ProfileCard
          v-bind:title="learnTitle"
          v-bind:content="learnContent"
        />
      </v-col>
    </v-row>
  </div>
</template>

<script>
import ProfileCard from '@/components/ProfileCard';
export default {
  components: {
    ProfileCard,
  },
  data: () => ({
    mySelfTitle: '自分について',
    licenceTitle: '資格について',
    otherTitle: 'その他',
    studyTitle: '自己学習',
    learnTitle: '強み',
    mySelfContent: `木村朱里（きむらあかり）です。<br/>理系で、高校時代の担任から勧められITシステムの専門学校に進学しました。<br/>
            新卒で開発職に従事し、今年で3年目です！`,
    licenceContent: `社会人1年目の時に基本情報技術者試験を取得しました！次の目標は応用情報技術者試験です！<br/>専門学校在学中には、MOS Word・Excel 2019 ExportとJ検定を取得しました。<br>`,
    otherContent: `1998年1月26日生まれ、 出身は北海道の旭川市です。<br/>趣味は、読書です。本は小説をメインに月4冊程度読みます。`,
    studyContent: `個人学習ではどんなに短い時間でも毎日継続して技術に触れることを目標に、学生時代から勉強してきました！<br/>学習教材は、UdemyとPaizaが多いです。最近はアウトプットを大切にし、個人開発やQiitaへの投稿を通じディープラーニングを深めています。<br/>`,
    learnContent: `チームメンバーとの定期的な1on1ミーティングや進捗定例を通じて、メンバーの強みや課題、メンタル状況などを詳細に分析し、メンバーが最善のパフォーマンスを発揮できるよう適切なフォローアップを行いました。また、具体的なアクションプランをともに策定し、それを実行に移すためのサポートを提供しました。<br/>そして、各チームの課題に気を配り、プロジェクト進行の円滑さに焦点をあてました。作業が滞る場合には、リーダー業務を一部引き受けたり、タスクの軽減やリカバリ案の提案など、メンバーの負担を軽減するために、積極的に調整に取り組みました。`,
  }),
};
</script>
