<template>
  <div>
    <v-card
      min-width="300px"
      height="90%"
      @click.stop="showCard = true"
    >
      <v-card-title>{{
        title
      }}</v-card-title>
      <v-divider></v-divider>

      <v-card-text height="300px">
        <div
          v-html="shortenedContent"
        ></div
      ></v-card-text>

      <v-dialog
        v-model="showCard"
        max-width="50%"
      >
        <ContentCard
          v-on:local-is-open="
            showCard = $event
          "
          v-bind:isOpen="showCard"
          v-bind:title="title"
          v-bind:msg="content"
        />
      </v-dialog>
    </v-card>
  </div>
</template>

<script>
import ContentCard from '@/components/ContentCard';

export default {
  components: {
    ContentCard,
  },
  data: () => ({
    showCard: false,
  }),
  props: {
    title: {
      Type: String,
      default: null,
    },
    content: {
      Type: String,
      default: null,
    },
  },
  computed: {
    shortenedContent: function () {
      let maxlength = 100;
      if (
        this.content.length <= maxlength
      ) {
        return this.content;
      } else {
        return (
          this.content.substr(
            0,
            maxlength - 10
          ) + '...(続きを読む）'
        );
      }
    },
  },
};
</script>
