<template>
  <div>
    <v-col align="center" class="pb-10">
      <h1>Skills</h1>
      <h4>
        これまでの経験技術（個人学習含む）と、関わってきたツールなどをご紹介します。
      </h4>
    </v-col>

    <v-row class="pa-4">
      <v-col cols="6">
        <SkillCard
          v-bind:title="langTitle"
          v-bind:content="langContent"
          v-bind:array="langList"
        />
      </v-col>

      <v-col cols="6">
        <SkillCard
          v-bind:title="fmTitle"
          v-bind:content="fmContent"
          v-bind:array="fmList"
        />
      </v-col>
    </v-row>

    <v-row class="pa-4">
      <v-col cols="6">
        <SkillCard
          v-bind:title="dbTitle"
          v-bind:content="dbContent"
          v-bind:array="dbList"
        />
      </v-col>

      <v-col cols="6">
        <SkillCard
          v-bind:title="otherTitle"
          v-bind:content="otherContent"
          v-bind:array="otherList"
        />
      </v-col>
    </v-row>
  </div>
</template>

<script>
import SkillCard from '@/components/SkillCard';

export default {
  components: { SkillCard },
  data: () => ({
    langTitle: 'Languages',
    langContent: `最近は仕事で関わる機会が多いのでフロントエンドが多めですが、Pythonも自己学習で進めています。`,
    langList: [
      {
        item: 'HTML/CSS(1年6ヶ月)',
        color: 'deep-purple lighten-2',
      },
      {
        item: 'JavaScript(1年6ヶ月)',
        color: 'deep-purple lighten-2',
      },
      {
        item: 'TypeScript(6ヶ月)',
        color: 'teal lighten-2',
      },
      {
        item: 'Python(1年)',
        color: 'deep-purple lighten-2',
      },
      {
        item: 'Java(1年)',
        color: 'deep-purple lighten-2',
      },
    ],
    fmTitle: 'FrameWorks',
    fmContent: `業務ではVue2・Vue3・Nuxt.jsを経験、個人でReact・Next.jsを学習しています。`,
    fmList: [
      {
        item: 'Vue.js(1年6ヶ月)',
        color: 'deep-purple lighten-2',
      },
      {
        item: 'Nuxt.js(6ヶ月)',
        color: 'teal lighten-2',
      },
      {
        item: 'React(6ヶ月)',
        color: 'teal lighten-2',
      },
      {
        item: 'Next,js(6ヶ月)',
        color: 'teal lighten-2',
      },
    ],
    dbTitle: 'DataBase',
    dbContent: `1社目はデータベースの自社開発企業だったので、幅広く経験させてもらいました。`,
    dbList: [
      {
        item: 'Oracle(3年)',
        color: 'pink lighten-3',
      },
      {
        item: 'MySQL(1年)',
        color: 'teal lighten-2',
      },
      {
        item: 'Postgres SQL(1年)',
        color: 'teal lighten-2',
      },
    ],
    otherTitle: 'Tools',
    otherContent: `使用・学習していたツールなどです。<br/>`,
    otherList: [
      {
        item: 'GitLab(2年)',
        color: 'pink lighten-3',
      },
      {
        item: 'Backlog(6ヶ月)',
        color: 'teal lighten-2',
      },
      {
        item: 'AWS EC2,S3,RDS(2年)',
        color: 'pink lighten-3',
      },
      {
        item: 'Docker(6ヶ月)',
        color: 'teal lighten-2',
      },
      {
        item: 'Slack(3年)',
        color: 'pink lighten-3',
      },
      {
        item: 'VsCode(3年)',
        color: 'pink lighten-3',
      },
      {
        item: 'Paiza(8ヶ月)',
        color: 'teal lighten-2',
      },
    ],
  }),
  props: {},
  computed: {},
};
</script>
