<template>
  <div>
    <v-card
      min-width="300px"
      height="90%"
      @click.stop="showCard = true"
    >
      <v-card-title>{{
        title
      }}</v-card-title>
      <v-divider></v-divider>

      <v-card-text height="300px">
        <div
          v-html="shortenedContent"
        ></div>
        <v-row class="pt-6">
          <v-col
            class="pt-0"
            cols="4"
            v-for="value in array"
            :key="value.item"
          >
            <v-tooltip bottom>
              <template
                v-slot:activator="{
                  on,
                  attrs,
                }"
              >
                <v-chip
                  v-bind:color="
                    value.color
                  "
                  v-bind="attrs"
                  v-on="on"
                  label
                  text-color="white"
                >
                  <v-icon left>
                    mdi-label
                  </v-icon>
                  <span
                    class="over-text"
                  >
                    {{ value.item }}
                  </span>
                </v-chip>
              </template>
              <span>
                {{ value.item }}</span
              >
            </v-tooltip>
          </v-col>
        </v-row>
      </v-card-text>

      <v-dialog
        v-model="showCard"
        max-width="50%"
      >
        <ContentCard
          v-on:local-is-open="
            showCard = $event
          "
          v-bind:isOpen="showCard"
          v-bind:title="title"
          v-bind:msg="content"
        />
      </v-dialog>
    </v-card>
  </div>
</template>

<script>
import ContentCard from '@/components/ContentCard';

export default {
  components: {
    ContentCard,
  },
  data: () => ({
    showCard: false,
  }),
  props: {
    title: {
      Type: String,
      default: null,
    },
    content: {
      Type: String,
      default: null,
    },
    array: {
      Type: Array,
      default: [],
    },
  },
  computed: {
    shortenedContent: function () {
      let maxlength = 100;
      if (
        this.content.length <= maxlength
      ) {
        return this.content;
      } else {
        return (
          this.content.substr(
            0,
            maxlength - 10
          ) + '...(続きを読む）'
        );
      }
    },
  },
};
</script>

<style>
.over-text {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
</style>
