<template>
  <div id="app">
    <v-app
      :style="{
        background:
          $vuetify.theme.themes[theme]
            .background,
      }"
    >
      <div>
        <Navbar />
      </div>

      <v-main>
        <v-container>
          <router-view />
        </v-container>
      </v-main>

      <v-footer
        ><div>
          &copy;
          {{ new Date().getFullYear() }}
          akari kimura
        </div>
      </v-footer>
    </v-app>
  </div>
</template>

<script>
import Navbar from './components/Navbar';

export default {
  name: 'App',

  components: {
    Navbar,
  },
  computed: {
    theme() {
      return this.$vuetify.theme.dark
        ? 'dark'
        : 'light';
    },
  },
};
</script>
<!-- <style>
.v-application {
  color: #6b395f !important;
}
</style> -->
